.brown{
    color:rgb(95, 65, 31);
}

.gray{
    color:#4b4b4b;
}

.blue{
    color:rgb(0, 0, 155);
}

.gold{
    color:rgb(128, 98, 0);
}

.purple{
    color:purple;
}

.green{
    color:rgb(48, 105, 1)
}
