html{
    background-color: #222;
    color: #ddd;
}

#instructions-div{
    width:875px;
    margin:auto;
    padding:1rem;
}

button{
    color: rgb(15, 12, 0);
    background-image:linear-gradient(#fde8cc,#a7a089)
}

button:hover{
    cursor: pointer;
    background-image:linear-gradient(#cab9a3,#a7a089)

}

.hint-text{
    font-weight:300;
    font-style:italic;
}

.hint-divs{
    text-align:center;
    /*font-style:italic;*/
    color:#ddd;

    height:1rem;

    p{
        margin:0px;
    }
}

#custom-controls-wrapper-div{
    width:600px;
    margin:auto;
    text-align:center;
    padding:1rem;
    background:#ddd;
    color:#222;
}

#custom-controls-div{
    padding:1rem;
    width:fit-content;
    margin-left:125px;
    
}

.control-inputs{
    width:5rem;
    height:1rem;
    font-size: small;
    text-align:center;
}

.custom-input-divs{
    text-align:right;
}

#preset-div{
    button{
        padding:5px;
        margin:5px;
    }
}

#save-manage-div{
    width:fit-content;
    margin:auto;
}

#new-save-button{
    font-size:larger;
    padding:5px;
    margin:auto;
    display:block;
}

h1, h2, h3{
    letter-spacing: .3rem;
}
