html{
    background-color: var(--altBack);
    color: var(--altBackText);
}

#game-window{
    /*background-color: var(--floor);*/
    color: var(--defaultEntity);
    display:flex;
    margin:auto;
    width:fit-content;
    display:block;
    /*height:510px;*/
}

#main-content{
    display:flex;
    height:730px;
    margin-right:1rem;
}

#mid-content{
    display: flex;
    flex-direction: column;
    margin-left:1rem;
    width:510px;
}

#instructions-div{
    width:875px;
    margin:auto;
    padding:1rem;
}

button,
#map-editor-link{
    color: rgb(15, 12, 0);
    background-image:linear-gradient(var(--buttonG1),var(--buttonG2))
}

button:hover,
#map-editor-link:hover{
    cursor: pointer;
    background-image:linear-gradient(var(--buttonHoverG1),var(--buttonHoverG2))

}

.hint-text{
    font-weight:300;
    font-style:italic;
}

.gold-div{
       font-weight:600; 
        color: var(--darkOrange)
    } 

    .bulk-div{
        font-weight: 600;
        color: var(--darkBlue)
    }

.hint-divs{
    /*font-style:italic;*/
    pointer-events: none;
    display: none;
    padding:4px;
    margin:0px 3px;
    box-sizing: border-box;
    background-color: var(--inventorySlot);
    /*background-image: linear-gradient(#ddcaa4,#c0aa73);*/
    border: 1px solid var(--inventoryBorder);
    /*transform:translateY(17px)*/
    transform:translateX(12px);
    width:fit-content;
    max-width:300px;
    z-index: 100;
}

.label{
    font-style:italic;
    text-transform: capitalize;
    font-weight:600;
}

.info{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.103);
}

#custom-controls-wrapper-div{
    width:600px;
    margin:auto;
    text-align:center;
    padding:1rem;
    background:var(--menuBack);
    color:var(--menuText);
}

#custom-controls-div{
    padding:1rem;
    width:fit-content;
    margin-left:125px;
    
}

.control-inputs{
    width:5rem;
    height:1rem;
    font-size: small;
    text-align:center;
}

.custom-input-divs{
    text-align:right;
}

#preset-div{
    button{
        padding:5px;
        margin:5px;
    }
}

#save-manage-div{
    width:fit-content;
    margin:auto;
}

#new-save-button{
    font-size:larger;
    padding:5px;
    margin:auto;
    display:block;
}

h1, h2, h3{
    letter-spacing: .3rem;
    text-transform: capitalize;
}

#color-scheme-select{
    width:fit-content;
    margin:auto;
    padding:1rem;
    button{
        display:block;
        margin:auto;
        padding:5px;
    }
}

#map-editor-link{
    display: block;
    width:fit-content;
    padding:5px;
    border:2px solid;
    border-left-color:#666;
    border-top-color:#666;
    font-family:arial;
    font-weight:400;
    text-decoration: none;
    font-size: larger;
    margin:auto; 
    
}

#menu-buttons-div{
    display:flex;
}

.follower{
    position:absolute;
}

#side-menu{
    visibility: hidden;
}

.flash-item-breaking{
    animation-name: flashItemBreaking;
    animation-duration: .5s;
}

@keyframes flashItemBreaking{
    from{background-color: var(--flashItemBreaking);}
}

.flash-highlight{
    animation-name: flashHighlight;
    animation-duration: 1s;
}

@keyframes flashHighlight{
    from{background-color: var(--highlight);}
}

.flash-inventory{
    animation-name: flashInventory;
    animation-duration: 1s;
}

@keyframes flashInventory{
    from{background-color: var(--flashInventory);}
}

.flash-deepRed{
    animation-name: flashDeepRed;
    animation-duration: .5s;
    transition-timing-function: ease-out;
}

@keyframes flashDeepRed{
    from{background-color: var(--deepRed);}

}

.flash-darkGreen{
    animation-name: flashDeepGreen;
    animation-duration: .5s;
    transition-timing-function: ease-out;
}

@keyframes flashDeepGreen{
    from{background-color: var(--deepGreen);}

}

.flash-white{
    animation-name: flashWhite;
    animation-duration: .5s;
    transition-timing-function: ease-out;
}

@keyframes flashWhite{
    from{background-color: white;}

}

.flash-damaged{
    animation-name: flashDamaged;
    animation-duration: 0.8s;
    animation-delay:-0.3s;
    transition-timing-function: ease-out;
}

@keyframes flashDamaged{
    from{
        color:white
    }

}

.flash-crit{
    animation-name: flashCrit;
    animation-duration: 0.7s;
    transition-timing-function: ease-out;
}

@keyframes flashCrit{
    from{
        color:var(--lightRed)
    }

}

.flash-lightRed{
    animation-name: flashLightRed;
    animation-duration: .7s;
}

@keyframes flashLightRed{
    from{background-color: var(--lightRed);}

}

.flash-goldDivs{
    animation-name: flashGoldDivs;
    animation-duration: .7s;
}

@keyframes flashGoldDivs{
    from{color: var(--orange);}

}

.keyword{
    cursor: pointer;
}

#layout-buttons{
    display:flex;
    justify-content:center;
    visibility: hidden;
    margin:1rem 50%;
    white-space: nowrap;

    button{
        margin-left:5px;
        margin-right:5px;
    }
}