html{
    background-color: var(--altBack);
    color: var(--altBackText);
}

#instructions-div{
    width:875px;
    margin:auto;
    padding:1rem;
}

button{
    color: rgb(15, 12, 0);
    background-image:linear-gradient(var(--buttonG1),var(--buttonG2))
}

button:hover{
    cursor: pointer;
    background-image:linear-gradient(var(--buttonHoverG1),var(--buttonHoverG2))

}

.hint-text{
    font-weight:300;
    font-style:italic;
}

.hint-divs{
    text-align:center;
    /*font-style:italic;*/
    color:var(--altBackText);

    height:1rem;

    p{
        margin:0px;
    }
}

#custom-controls-wrapper-div{
    width:600px;
    margin:auto;
    text-align:center;
    padding:1rem;
    background:var(--menuBack);
    color:var(--menuText);
}

#custom-controls-div{
    padding:1rem;
    width:fit-content;
    margin-left:125px;
    
}

.control-inputs{
    width:5rem;
    height:1rem;
    font-size: small;
    text-align:center;
}

.custom-input-divs{
    text-align:right;
}

#preset-div{
    button{
        padding:5px;
        margin:5px;
    }
}

#save-manage-div{
    width:fit-content;
    margin:auto;
}

#new-save-button{
    font-size:larger;
    padding:5px;
    margin:auto;
    display:block;
}

h1, h2, h3{
    letter-spacing: .3rem;
    text-transform: capitalize;
}

#color-scheme-select{
    width:fit-content;
    margin:auto;
    padding:1rem;
    button{
        display:block;
        margin:auto;
        padding:5px;
    }
}

#map-editor-link{
    color:var(--altBackText);
    display: block;
    width:fit-content;
    margin: 0 auto 1rem;
}
