#dungeon-screen{
    display:none;
}


#game-window{
    background-color: var(--floor);
    color: var(--defaultEntity);
    display:flex;
    margin:auto;
    border:1px solid var(--border);
    width:fit-content;
    height:510px;
}

#board:focus{
    border:none;
}

#board{
    /*
    background-color: #d9d2bf;
    color: #3d3936;
    */
    background-color:var(--dark);
    white-space:pre-line;
    font-family: monospace;
    font-size:xx-large;
    float:left;

    width:510px !important;
    height:510px !important;

    display:grid;
    grid-template-columns: repeat(17, 1fr);
    grid-gap: 0px;
    border-collapse: collapse;

    .board-grid-div:not(.grid-dark){
        background-color:var(--floor);
    }

}

.board-grid-div{
    font-size:1.5rem;
    width:30px;
    height:30px;
    text-align:center;
    /*overflow:hidden;*/
    border:1px solid var(--gridLine);
    outline-offset:1px;
    margin:auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    display: flex;
    justify-content: center;
    align-items: center;

    div{
        background-color: #00000000;
    }

    .board-entity-div{
        position:absolute;
        width:30px;
        height:30px;
    }

    /*this is where the player is*/
    #board-entity-8-8{
        /*make directional nicer*/
        border-radius:30px;
    }

    .board-entity-div.grid-highlighted{
        background-color: var(--highlight); /* Semi-transparent black */
    }

    .board-entity-div.highlight-down{
        border-bottom: 2px solid var(--directionalHighlight);
    }

    .board-entity-div.highlight-up{
        border-top: 2px solid var(--directionalHighlight);
    }

    .board-entity-div.highlight-left{
        border-left: 2px solid var(--directionalHighlight);
    }

    .board-entity-div.highlight-right{
        border-right: 2px solid var(--directionalHighlight);
    }

    .board-stain-div{
        opacity: .5;
        font-weight:700;
        width:30px;
        height:30px;
        margin-top:-1px;
        margin-left:-1px;
        margin-right:-1px;
    }
}

/*
.grid-dark::after{
    content:'▓▓';
}
*/
/*
.grid-wall::after{
    content:'▒▒';
    margin-left:-1.8rem;
}*/

.grid-dark{
    background:
    repeating-conic-gradient(var(--dark) 0% 25%, var(--darkAccent) 0% 50%) 
    50% / 30px;
    background-size:10% 10%;

}

.grid-wall{
    background:
    repeating-conic-gradient(var(--wall) 0% 25%, var(--wallAccent) 0% 50%) 
    50% / 30px;
    background-size:20% 20%;
}

.grid-exit{
    background: 
    repeating-conic-gradient(var(--exit) 0% 25%, transparent 0% 50%) 
      50% / 20px;
    background-size:100% 100%;
    border:none;
}

.grid-hint:hover{
    cursor: pointer;
}

.control-grid:hover{
    cursor:pointer;
}