#dungeon-screen{
    display:none;
}


#game-window{
    background-color: #ddd;
    color: #222;
    display:flex;
    margin:auto;
    border:1px solid black;
    width:fit-content;
}

#board{
    /*
    background-color: #d9d2bf;
    color: #3d3936;
    */
    background-color:#222;
    white-space:pre-line;
    font-family: monospace;
    font-size:xx-large;
    float:left;

    display:grid;
    grid-template-columns: repeat(17, 1fr);
    grid-gap: 0px;
    border-collapse: collapse;

    div:not(.grid-dark){
        background-color:#ddd;
    }

}

#board:focus{
    border:1px solid #BBBBBB;
}

.board-grid-div{
    font-size:1.5rem;
    width:1.8rem;
    height:1.8rem;
    text-align:center;
    /*overflow:hidden;*/
    border:1px solid #2222221c;
    outline-offset:1px;
    margin:auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
/*
.grid-dark::after{
    content:'▓▓';
}
*/
/*
.grid-wall::after{
    content:'▒▒';
    margin-left:-1.8rem;
}*/

.grid-dark{
    background-color:#222;

}

.grid-wall{
    background:
    repeating-conic-gradient(#555 0% 25%, #454545 0% 50%) 
    50% / 20px;
    background-size:20% 20%;
}

.grid-exit{
    /*
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    */
    background: 
    repeating-conic-gradient(#555 0% 25%, transparent 0% 50%) 
      50% / 20px;
    background-size:100% 100%;
    border:none;
}