#hud-div{
    width:900px;
    margin:auto;
    margin-bottom:1rem;
    background-color:var(--menuBack);
    /*background-image:linear-gradient(#a5a5a5,#ddd)*/;
    color:var(--menuText);
    padding-bottom:5px;
    font-weight:600;
    display:none;

    .gold-div{
        text-align:center;
    }
}

#day-div, #nourishment-level-div, #exertion-level-div{
    margin:auto;
    width:fit-content;
}

.resource-label-divs{
    padding-right:5px;
    padding-top:2px;
}

#resources{
    display:flex;
    width:fit-content;
    margin:auto;
}

#resources>div{
    margin:5px;
}

.resource-bar-containers{
    display:flex;
}

.resource-bar-divs{
    background-color: var(--dark);
    border:1px solid var(--resourceBorder);
    height:20px;
    width:150px;
}

.resource-level-divs{
    /*text-align:center;*/
    height:20px;
    width:100px;
    border:1px solid var(--resourceBorder);
}

#stamina-level{
    background-color: var(--staminaBar);
    color:var(--staminaBarText);
} 

#luck-level{
    background-color: var(--luckBar);
    color: var(--luckBarText)
}

#health-level{
    background-color: var(--healthBar);
    color:var(--healthBarText)
}

#hunger-level{
    background-color: var(--hungerBar);
    color:var(--hungerBarText)
}

.preview{
    animation: pulse 900ms ease-in-out infinite alternate;
}
@keyframes pulse {
  from { opacity: 0.6; }
  to   { opacity: 1; }
}


