#log-window{
    border:1px solid gray;
    width:300px;
    height:510px;
}

#log-title{
    text-align:center;
    font-weight: 600;
}

#log{
    height:492px;
    overflow-y:scroll;

    p{
        margin:0;
    }

    .turn-counter{
        text-align:center;
    }
}

.message-fresh{
    background-color:var(--logFresh);
}

.message-urgent{
    background-color:var(--urgentBackground);
    color:var(--urgentText);
    font-weight: bold;
}

.log-bold{
    font-weight: bolder;
}

.log-hoverable:hover{
    cursor: pointer;
}

.message-danger{
    color:var(--muteRed);
}

.message-win{
    color:var(--darkPurple)
}

.message-pos{
    color:var(--darkBlue);
}

.message-fresh.message-danger{
    color:var(--red);
    font-weight:600;
}

.message-fresh.message-win{
    color:var(--brightPurple);
    font-weight:600;
}


.message-fresh.message-pos{
    color:var(--blue);
    font-weight:600;
}

.notice{
    background-color:var(--notice);
    font-weight: 600;
    text-align:center;
}