html{
    background-color: #222;
    color: #ddd;
}

#game-window{
    background-color: #ddd;
    color: #222;
    display:flex;
    margin:auto;
    border:1px solid black;
    width:fit-content;
}

#log-window{
    border:1px solid gray;
    width:300px;
}

#log-title{
    text-align:center;
    font-weight: 600;
}

#log{
    overflow-y:scroll;

    p{
        margin:0;
    }

    .turn-counter{
        text-align:center;
    }
}

#board{
    /*
    background-color: #d9d2bf;
    color: #3d3936;
    */
    white-space:pre-line;
    font-family: monospace;
    font-size:xx-large;
    float:left;
}

#board:focus{
    border:1px solid #BBBBBB;
}

#resources{
    display:flex;
    width:fit-content;
    margin:auto;
}

#resources>div{
    margin:5px;
}

#stamina-bar{
    border:1px solid #bbbbbb;
    height:20px;
    width:100px;
}

#stamina-level{
    background-color: yellow;
    height:20px;
    width:100px;
    border:1px solid gray;
}

#luck-bar{
    border:1px solid #bbbbbb;
    height:20px;
    width:100px;
}

#luck-level{
    background-color: green;
    height:20px;
    width:100px;
    border:1px solid gray;
}

#health-bar{
    border:1px solid #bbbbbb;
    height:20px;
    width:100px;
}

#health-level{
    background-color: red;
    height:20px;
    width:100px;
    border:1px solid gray;
}

#instructions-div{
    padding-top:20px;
    padding-bottom:20px;
    font-family: monospace;
}

#controls>div{

    padding:10px;

    div{
        padding-bottom:5px;
    }
    
}

#enemy-control-div{
    display:none;
    
    input{
        width:20px;
    }

}

.message-fresh{
    background-color:rgba(252, 244, 233, 0.562);
}

#weapon-select-div{
    display:none;
}

#dungeon-screen{
    display:none;
}

#focus-reminder{
    display:none;
    color:#aaaaff;
}

#reminder-wrapper{
    height:2rem;
    margin:auto;
    width:fit-content
}

.inventory-wrapper{
    margin:auto;
    width:875px;
}

.inventory{
    background-color: #ddd;
    color: #222;
    display:flex;
    height:10rem;
}

.inventory-list{
    width:600px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    grid-auto-rows: 2rem;
}

.inventory-slot{
    padding:5px;
    display:flex;
    height:fit-content;
    /*border:1px solid gray*/
}

.inventory-slot:hover{
    cursor: pointer;
    background-color: #bbbbbb;
}

/*
.inventory-slot{
    width:280px;
    height:120px;
    border:1px solid #BBBBBB;
    background-color: #ddd;
    color: #222;
}
*/

.item-name{
    font-weight:800;
    width:fit-content;
}

.item-buttons{
    margin-left:auto;
    width:fit-content;
    height:fit-content;
}

.inventory-description-title{
    text-align:center;
    width:100%;
}

.fresh-true{
    background-color: #dfcd9c;
}

.inventory-description{
    outline:1px solid black;
    margin-left:auto;
    width:250px;
    padding:5px;
}

.inventory-description-body{
    height:100px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    grid-auto-rows: 2rem;
}

.item-stats-normal{
    height:fit-content;
}

.item-value{
    bottom:0px;
}

.item-title{
    font-weight:800;
}

.item-slot-number{
    padding-right:5px;
    /*border-right:1px solid black*/
}